* {
  margin: 0px;
  padding: 0px;
}

img,
video {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "latin";
  src: url("/font/AtlassianSans-latin.woff2")
}

@font-face {
  font-family: "bold";
  src: url("/font/CircularXXWeb-Bold.woff2")
}

@font-face {
  font-family: "medium";
  src: url("/font/CircularXXWeb-Medium.woff2")
}

@font-face {
  font-family: "regular";
  src: url("/font/CircularXXWeb-Regular.woff2")
}

@font-face {
  font-family: mediumwoff;
  src: url(font/Poppins-Medium.ttf);
}

@font-face {
  font-family: boldwoff;
  src: url(font/Poppins-Bold.ttf);
}

.navigationbar {
  padding: 0px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  position: sticky;
  z-index: 30;
  top: 0px;
  background: white;
}

.navigationbar_btn {
  background-color: #f0f1ff;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin: 0px 0px 0px 12px;
  display: flex;
}

.navigationbar_logo svg {
  height: 48px;
  width: 150px;

}

.navigationbar_logo {
  height: 3rem;
}

.page_1_property {
  width: 100%;
  max-width: 100vw;

}

.main_heading {
  background-color: #d1d1f7;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.page1_content {
  padding-left: 32px;
  padding-right: 32px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 100rem;
  height: 100%;
  display: flex;
  margin-bottom: 48px;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 10;
  position: relative;
}

.page1_title_with_content {

  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;

}

.page1_heading {
  text-wrap: balance;
  align-items: center;
  column-gap: 16px;
  display: flex;
  color: rgb(43, 28, 80);
  font-family: "medium";
  font-feature-settings: "ss01", "ss02", "ss08";
  font-size: 35px;
  font-weight: 500;
  letter-spacing: -0.92px;
  line-height: 36.015px;
  max-width: 40ch;
  margin: 0px 0px 16px;

}

.page1_sub-heading {
  max-width: 50ch;
  color: rgb(61, 46, 124);
  display: block;
  font-family: "regular";
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.205px;
  line-height: 32.004px;
  margin-bottom: 32px;

}

.get-install_btn {
  gap: 24px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  line-height: 24px;
  align-items: start;

}

.get_btn {
  border-radius: 9999px;
  padding: 14px 21px 14.5px 21px;
  box-shadow: rgba(85, 89, 221, 0.4) 0px 0px 0px 3.99px;
  color: rgb(240, 241, 255);
  font-family: medium;
  font-size: 14px;
  font-weight: 500;
  outline: .125rem solid transparent;
  letter-spacing: 0.09px;
  line-height: 23.896px;
  background-color: #565add;
  text-decoration-line: none;
  text-size-adjust: 100%;
  border: none;
}

.install {
  border-radius: 9999px;
  padding: 14px 21px;
  color: rgb(75, 66, 174);
  font-family: medium;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.09px;
  line-height: 23.896px;
  background-color: rgb(240, 241, 255);
  text-decoration-line: none;
  text-size-adjust: 100%;
  border: none;
  column-gap: 7px;
  display: flex;
  align-items: center;

}

.install-1 {
  display: inline-flex;
  align-items: center;
  gap: 7px;
}


.download-svg {

  color: rgb(75, 66, 174);
  align-items: center;
}

.intsall-chrome-text {
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  width: fit-content;
  position: relative;
  bottom: 0.5px;
}

.video-div {
  max-width: 80rem;

}

.video-div video {
  width: 100%;
  border-radius: 30px;

}

.page2 {

  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 32px;

}

.text-million {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.page2_text {

  max-width: 30ch;
  color: #2b1c50;
  font-size: 28px;
  font-weight: 500;
  line-height: 32.004px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 32px;
  text-align: center;
  font-family: "medium";
  font-feature-settings: "ss01", "ss02", "ss08";
  display: flex;
  align-items: center;
  letter-spacing: -1.02px;
}

.page2_get_btn {

  justify-content: center;
  display: flex;
  margin-top: 48px;
  margin-bottom: 80px;

}

.scroll_left_1 {
  display: flex;
  animation: scrollleft_1 12s linear infinite;
  gap: 27.5px;
  column-gap: 48px;
  margin-bottom: 40px;
  padding-right: 48px;

}

.scroll_left_1::before {
  background-image: (to right, rgb(255, 255, 255), rgba(0, 0, 0, 0));
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;

}



.marque-overflow {
  overflow: hidden;
}



@keyframes scrollleft_1 {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-650px);
  }
}

.scroll_left_2 {
  display: flex;
  animation: scrollleft_2 15s linear infinite;
  gap: 27.5px;
  column-gap: 48px;
  margin-bottom: 40px;
  padding-right: 48px;


}

@keyframes scrollleft_2 {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-880px);
  }
}

.scroll_left_3 {
  display: flex;
  animation: scrollleft_3 15s linear infinite;
  gap: 27.5px;
  column-gap: 48px;
  margin-bottom: 40px;
  padding-right: 48px;


}

@keyframes scrollleft_3 {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-880px);
  }
}

.fisrt_video {

  padding: 0px 24px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.video_property {

  box-shadow: rgb(110, 117, 230) 0px 15px 50px 0px;
  border-radius: 2rem;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;



}

.loom_ai {
  margin-bottom: 64px;
}

.loom_ai_property {
  background-color: #2b1c50;
  column-gap: 56px;
  display: grid;
  font-family: "medium";
  line-height: 24px;
  max-width: 1600px;
  padding: 64px 32px;
  row-gap: 56px;
}


.quarterly {

  border-radius: 32px;
}

.try {

  justify-content: center;
  flex-direction: column;
  max-width: 40rem;
  display: flex;
}

.ptag {

  color: #d1d1f7;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  font-family: 'medium';
  letter-spacing: -0.28px;
  line-height: 23.994px;

}

.loom_AI_property {
  align-items: center;
  column-gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.loom_AI_sub_property {

  color: #f0f1ff;
  font-weight: 500;
  margin-bottom: 16px;
  font-size: 35px;
  font-family: "medium";
  font-feature-settings: "ss01", "ss02", "ss08";
  max-width: 654.15px;
  letter-spacing: -0.92px;
  line-height: 36.015px;
  display: flex;
  justify-content: flex-end;
}

.span_loom_AI_property {
  column-gap: 16px;
}



.spansvg svg {
  display: block;
  max-width: 17.5px;
  width: 100%;
  height: 100%;
  margin-top: 2px;
}

.ai_content {
  color: rgb(209, 209, 247);
  display: block;
  font-family: "medium";
  font-size: 21px;
  font-weight: 400px;
  letter-spacing: -0.205px;
  line-height: 32.004px;
  max-width: 514.08px;

}

.try_btn {

  color: rgb(240, 241, 255);
  column-gap: 14px;
  display: flex;
  font-family: "bold";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.09px;
  line-height: 23.996px;
  margin: 24px 0px 32px;
  padding: 14px 21px;
  row-gap: 14px;
  background-color: rgb(86, 90, 221);
  box-shadow: rgba(85, 89, 221, 0.4) 0px 0px 0px 3.9px;
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
  width: fit-content;

}

.screen_sct {
  max-width: 1600px;
  margin-bottom: 80px;
  margin-left: 0px;
  margin-right: 0px;
}

.screen_property {

  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-bottom: 48px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 32px;
  padding-right: 32px;
  column-gap: 16px;
  align-items: center;
}

.screen_cnt {
  display: block;
  font-family: "medium";
  font-feature-settings: "ss01", "ss02", "ss08";
  font-size: 35px;
  font-weight: 500;
  letter-spacing: -0.92px;
  line-height: 36.015px;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-width: 654.15px;
  color: rgba(43, 28, 80);
}

.Record {
  color: rgb(61, 46, 124);
  display: block;
  font-family: "regular";
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.205px;
  line-height: 32.004px;
  max-width: 642.6px;
}

.lightning_container {
  padding: 64px 48px;
  background-color: #f0f1ff;
}

.lightning_sub_container {

  gap: 48px;
  align-items: center;
  display: grid;
}

.lightning_parent {

  justify-content: center;
  flex-direction: column;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.lightning_child {

  column-gap: 16px;
  align-items: center;
  display: flex;
  max-width: 20ch;
  font-family: "medium";
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.63px;
  line-height: 28.006px;
  color: #2b1c50;
  margin-bottom: 8px;

}

.lightning_child_cnt {

  max-width: 40ch;
  color: #3d2e7c;
  font-family: "medium";
  font-size: 17.04px;
  line-height: 28.0649px;
  letter-spacing: normal;
  font-weight: 400;

}

.light_property {
  color: #3d2e7c;
  position: relative;
  text-decoration-thickness: .0625rem;
  text-underline-position: under;
  text-decoration-line: underline;
  padding-bottom: 1px;
  font-family: "medium";
  font-size: 17.04px;
  line-height: 28.0649px;
  letter-spacing: normal;
  font-weight: 400;
}

.download_btn {
  padding-top: 30px;
  justify-content: flex-start;
  display: flex;
}

.dwn-btn {
  border-radius: 9999px;
  padding: 7px 14px;
  box-shadow:rgba(85, 89, 221, 0.4);
  font-weight: 500;
  outline: 2px solid transparent;
  background-color: #565add;
  color: #f0f1ff;
  gap: 14px;
  align-items: center;
  width: fit-content;
  display: flex;
  text-decoration-line: none;
  text-size-adjust: 100%;
  border: none;
  font-family: "medium";
  font-size: 14px;
}
.video_part2{
  border-radius: 32px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;

}
.video_part2_property{
font-weight: 500;
font-size: 18px;
object-fit: cover;
width: 100%;
display: block;
}




