/* 
@keyframes scrollleft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll_left_1 {
  display: flex;
  animation: scrollleft 10s linear infinite;
  gap: 27.5px;
  color: rgb(33, 33, 33);
  column-gap: 48px;
  margin-bottom: 40px;
  padding-right: 48px;
  row-gap: 48px;

}

@keyframes scrollleft_1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll_left_3 {
  display: flex;
  animation: scrollleft 10s linear infinite;
  gap: 27.5px;
  color: rgb(33, 33, 33);
  column-gap: 48px;
  margin-bottom: 40px;
  padding-right: 48px;
  row-gap: 48px;

}

@keyframes scrollleft_3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.part_3{

background-color: #2b1c50;
gap:3.5rem;
max-width: 100rem;
display: grid;
padding: 64px 32px;


} */

/* 
 .scroll_left img {
  margin: 0 2rem;
  height: auto;
  max-height: 50px;
  object-fit: contain;
  flex-shrink: 0;
  max-height: 50px;
  object-fit: contain;

} */